

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    outline: none; border:none;
    text-transform: capitalize;
    transition: .2s linear;
    TEXT-DECORATION:none;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
  }
  
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 160px;
    z-index: 1;
    
  }
  

  .dropdown-content a {
    color: rgb(0, 0, 0);
    padding: 12px 10px;
    display: block;
    text-decoration: none;
    font-size:15px;
    
  }
  
  
  .dropdown-content a:hover {
    background-color: #969696;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
                                                                                                                                                                         
section{
    padding:2rem 9%;
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:0 0rem 0 0;
    background:rgba(121, 45, 45, 0);
    
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(68, 0, 255), rgb(0, 238, 255));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(0, 81, 255), rgb(0, 255, 213));
}



.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:rgb(0, 0, 0);
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'Roboto Slab';
    font-size: 30px;
}

header img{
    margin-left: 30px;
}
    

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:0px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    text-align: left;
}



   

.link{
    font-size: 20px;
    padding:0 1.5rem;
    color:rgb(0, 0, 0);
}
.navbtn{
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 9px 14px;
    border-radius: 10px;
    font-size: 16px;
    margin-right:12px;
    
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('index.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}

.home .content{
    max-width: 50rem;
}

.home .content h3{
    font-size: 6rem;
    color:rgb(255, 255, 255);
}

.home .content span{
    font-size: 50px;
    padding:1rem 0;
    line-height: 1.5;
    color:white;
}
.home .content p{
    font-size: 35px;
    
    color:rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.0;
}
.welcome-div {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
}
.welcome-div1 {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #5b6bffdc;
    font-size: 27px;
    border-radius: 20px;
    
}

  
.welcome-div p {
    font-size: 19px;
}


.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding:5px;
    margin:20px 0px;
}
.product-box img {
    max-width: 100%;
    height: auto;
}
.container .product-box h2 {
    font-size: 20px;
    margin: 10px 0;
}  

.slideshow-container {
    display: flex;
    width: 95%;
    overflow: hidden;
    justify-content: space-between;
    margin: 20px 20px;
  
    
  }
  
  .rounded-div {
    border-radius: 10px; 
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); 
  }
  

  .rounded-div img {
    width: 100%;
    height: auto;
    padding: 10px;
  }
  
.product-box {
    text-align: center;
    text-decoration: none;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 500px; 
    height: 300px;
    margin-right: 10px;
    
    
 }
  
.product-box img {
    max-width: 100%;
    height: 75%;
}
  
.product-box h2 {
    font-size: 16px;
    margin: 10px 0;
}


.black-bg {
    background-color: #000;
    color: #fff;
    padding: 50px 0px 0px 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4 {
    font-size: 24px; 
    margin-bottom: 15px; 
    color: #fff;
}


.quick-links {
    padding-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}



.quick-links a, .footer-bottom p {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    
}
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}


.footer-bottom p {
    line-height: 1.5;
}


.connect-with-us {
    text-align: right;
    padding-right: 20px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}


.social-icons a {
    background-color: #333;
    margin-right: 10px;
    border-radius: 50%;
    padding: 20px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.30s;
    text-decoration: none;
}


.social-icons a i {
    color: rgb(255, 255, 255);
    font-size: 23px;}


.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.596);
    color: rgb(0, 0, 0);
}

.contact-info {
    margin-top: 20px;
    font-size: 17px;
}


.contact-info p:nth-child(1),
.contact-info p:nth-child(2) {
    text-align: right;
}


.contact-info p:nth-child(3) {
    text-align: center; 
    font-size: 15px;
}

.contact-info p:nth-child(3) i {
    margin-right: 10px; 
}
.programs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .program {
    flex-basis: calc(33.33% - 20px); 
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
    margin-bottom: 20px;
  }
  
  .program img {
    max-width: 100%;
    height: 300px;
  }
  
  .program img:hover {
    transform: scale(1.1);
  }
  
  .program h4 {
    font-size: 1.5em;
    margin-top: 10px;
  }
  
  .program p {
    margin-top: 10px;
    font-size:20px;
    
  }
  .para {
    text-align: center;
    margin: 20px;
    padding: 20px;
    background-color: #f3f3f3;
    border-radius: 20px;
    font-size: 20PX;
  }
  .button {
    background-image: linear-gradient(to right,rgba(68, 0, 253, 0.89), rgb(0, 238, 255));
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 3px 1px;
    cursor: pointer;
    border-radius: 18px;
  }
  
