

*{
    margin:0; padding:0;
    box-sizing: border-box;
    font-family:'Poppins',sans-serif;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}

html{
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section{
    padding:2rem 9%;
}

::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background-image: linear-gradient(rgb(68, 0, 255), rgb(0, 238, 255));
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-image: linear-gradient(rgb(0, 81, 255), rgb(0, 255, 213));
}

.heading{
    text-align: center;
    font-size: 4rem;
    color:#333;
    padding:1rem;
    margin:0 2rem 0 0;
    background:rgba(255, 255, 255, 0);
    
}



.btn{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background:rgb(0, 0, 0);
    color:#fff;
    padding:.9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    font-family: 'Roboto Slab';
    font-size: 30px;
}

header img{
    margin-left: 30px;
}
    

header{
    position: fixed;
    top:0; left:0; right:0;
    background:#fff;
    padding:2px 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
}

header .logo{
    font-size: 3rem;
    color:rgb(0, 0, 0);
    font-weight: bolder;
    text-align: left;
}


   

header .navbar a{
    font-size: 20px;
    padding:0 1.5rem;
    color:rgb(0, 0, 0);
}
.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url('aboutus.jpg') no-repeat center center fixed;
    background-size: cover;
    background-position: center;
}



.home .content h3{
    font-size: 6rem;
    color:rgb(255, 255, 255);
}

.home .content span{
    font-size: 70px;
    padding:1rem 0px;
    line-height: 1.5;
    color:white;
    
    margin-right: 0%;
    margin-left: 400px;
}

.home .content p{
    font-size: 35px;
    color:rgb(255, 255, 255);
    padding:1rem 0;
    line-height: 1.5;
}
.about .row{
    display: flex;
    align-items: left;
    gap:2rem;
    flex-wrap: wrap;
    padding:2rem 0;
    padding-bottom: 3rem;
}
.aboutus{
    font-size: 40px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #ff99003d;
}

.about .row .content h3{
    font-size: 3rem;
    color:rgb(0, 0, 0);
}

.about .row .content p{
    font-size: 20px;
    color:rgb(0, 0, 0);
    padding-top: 1rem;
    line-height: 1.5;
    font-family: 'Poppins';
}

.services h1{
    font-size: 25px;
}

.services p{
    font-size: 18px;
}

.black-bg {
    background-color: #000;
    color: #fff;
    padding: 50px 0px 0px 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

h4 {
    font-size: 24px; 
    margin-bottom: 15px; 
    color: #fff;
}


.quick-links {
    padding-left: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

ul li {
    margin-bottom: 15px;
}



.quick-links a, .footer-bottom p {
    color: #fff;
    text-decoration: none;
    font-size: 18px; 
    
}
.footer-bottom {
    text-align: center;
    padding: 20px 0;
    font-size: 15px;
}


.footer-bottom p {
    line-height: 1.5;
}


.connect-with-us {
    text-align: right;
    padding-right: 20px;
}

.social-icons {
    display: flex;
    justify-content: flex-end;
}


.social-icons a {
    background-color: #333;
    margin-right: 10px;
    border-radius: 50%;
    padding: 20px; 
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: ease 0.30s;
    text-decoration: none;
}


.social-icons a i {
    color: rgb(255, 255, 255);
    font-size: 23px;}


.social-icons a:hover {
    background-color: rgba(255, 255, 255, 0.596);
    color: rgb(0, 0, 0);
}

.contact-info {
    margin-top: 20px;
    font-size: 17px;
}


.contact-info p:nth-child(1),
.contact-info p:nth-child(2) {
    text-align: right;
}


.contact-info p:nth-child(3) {
    text-align: center; 
    font-size: 15px;
}

.contact-info p:nth-child(3) i {
    margin-right: 10px; 
}
.rounded-div {
    width: 99%; 
      height: auto; 
      text-align: center;
      background-image: url('./images/ceobg.jpg'); 
      background-size: cover;
      background-position: center;
      color: #fff; 
      border-radius: 20px; 
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: justify;
      font-size: 20px; 
      border: 3px solid rgb(153, 0, 255);
      position: relative;
      z-index: 4;
      padding: 20px 50px 20px 20px;
      box-shadow: 5px 5px 5px rgb(104, 104, 104);
  }
  .fig img{
    margin-right: 34px;
    margin-top: 20px;
  }
  .rounded-div h1{
      text-align: center;
      padding: 4px 0px 6px 0px;

  }

  .fig{
    flex-direction: column;
  }
  .fig img {
    
    border-radius: 10px;
    height: 248px;
    width: 200px;
    box-shadow: 2px 2px 3px rgb(141, 141, 141);
    
  }
  blockquote {
    font-size: 25px;
    color: rgb(255, 255, 255);
    margin: 20px 0;
}
.ceoheading h1{
    font-size:20px;
    text-align: justify;
    padding:5px;
}
.about {
    text-align: left; 
}
h2{
    text-align: center;

}
h2.ceoheading {
    font-size: 36px;
    margin: 20px 0;
}